<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 組件掃描 -->
	<context:component-scan
		base-package="com.taiwan.controller" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 視圖解析器 -->
<!-- 	<bean -->
<!-- 		class="org.springframework.web.servlet.view.InternalResourceViewResolver"> -->
<!-- 		<property name="prefix" value="/WEB-INF/pages/"></property> -->
<!-- 		<property name="suffix" value=".jsp"></property> -->
<!-- 	</bean> -->


	<!-- 訪問靜態資源和動態資源 -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven validator="validator">
        <mvc:message-converters>
            <!-- 處理響應中文內容亂碼-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="defaultCharset" value="UTF-8" />
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html</value>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>	
	</mvc:annotation-driven>
	
	
	<!-- 配置校驗器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 校驗器, 使用 hibernate 校驗器 -->
		<property name="providerClass"
			value="org.hibernate.validator.HibernateValidator" />
	</bean>


	<!-- 必須是通過文件解析器的解析才能將文件轉換為 MultipartFile 對象 -->
	<!-- 注意 id 必須是 multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 文件最大上傳容量 -->
		<property name="maxUploadSize" value="#{1024*1024*20}"></property>
		<!-- 默認字符編碼 -->
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
	
	
	
	<!-- 配置異常處理器 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 默認錯誤視圖, 就是不管發生什麼異常都去 error 頁面 -->
		<property name="defaultErrorView" value="/error/error.jsp"></property>
		<!-- exceptionAttribute 屬性設置一個屬性名, 將出現的異常信息放在請求域中共享 -->
		<property name="exceptionAttribute" value="ex"></property>
	</bean>
	
	
	<!-- 配置攔截器 -->
<!-- 	<mvc:interceptors> -->
		<!-- 配置某一個攔截器 -->
<!-- 		<mvc:interceptor> -->
			<!-- 對那些資源執行攔截操作, 默認是攔截所有請求的 -->
<!-- 			<mvc:mapping path="/front-end/company/**" /> -->
<!-- 			<bean class="com.taiwan.interceptor.CompanyInterceptor"></bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->
</beans>
