<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.CustomerMapper">

	<!-- 這是使用第三方緩存 -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>


	<!-- public int insertCustomer(Customer customer); -->
	<insert id="insertCustomer">
		INSERT INTO `Taiwan`.`CUSTOMER`
		(`NAME`, `SEX`, `TEL`, `EMAIL`, `ADDRESS`,
		`ID_CARD`, `BIRTH`, `ACCOUNT`, `PASSWORD`, `IMG`,
		`CARD`)
		VALUES
		(#{name}, #{sex}, #{tel}, #{email}, #{address}, #{idCard}
		, #{birth}, #{account}, #{password}, #{img}, #{card});
	</insert>

	<select id="queryAll" resultType="com.taiwan.beans.Customer">
		select * from CUSTOMER
	</select>
</mapper>