<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.RoomOrderMapper">
	<!-- public List<RoomOrder> getRoomOrders(); -->
	<select id="queryAllRoomOrders" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
	</select>
	
<!-- 	//根據訂單成立日期查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByRoomOrderDate(Date roomOrderDate); -->
	<select id="queryRoomOrdersByRoomOrderDate" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_date`= #{roomOrderDate}
	</select>
<!-- 	//根據入住時間查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByCheckinDate(Date checkinDate); -->
	<select id="queryRoomOrdersByCheckinDate" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`checkin_date` = #{checkinDate}
	</select>
<!-- 	//根據退房時間查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByCheckoutDate(Date checkoutDate); -->
	<select id="queryRoomOrdersByCheckoutDate" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`checkout_date`= #{checkoutDate}
	</select>
<!-- 	//根據訂單Id搜尋訂房訂單 -->
<!-- 	public RoomOrder queryById(Integer roomOrderId); -->
	<select id="queryById" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_id`= #{roomOrderId}
	</select>
<!-- 	//根據廠商Id搜尋他的訂單 -->
<!-- 	public List<RoomOrder> queryByCmpId(Integer cmpId); -->
	<select id="queryByCmpId" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cmp_id`= #{cmpId}
	</select>
<!-- 	//根據會員Id搜尋他的訂單 -->
<!-- 	public List<RoomOrder> queryByCustId(Integer custId); -->
	<select id="queryByCustId" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cust_id`= #{custId}
	</select>
<!-- 	//搜尋一段時間內的訂單 -->
<!-- 	public List<RoomOrder> queryByDate(@Param("startdate") Date startdate,@Param("enddate") Date enddate); -->
	<select id="queryByDate" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_date` BETWEEN #{startdate} AND #{enddate}
	</select>
<!-- 	//根據訂單id取消訂單 -->
<!-- 	public int updateStatusAndReason(@Param("roomOrderId") Integer roomOrderId,@Param("roomOrderStatus") String roomOrderStatus,@Param("cancel") String cancel); -->
	<update id="updateStatusAndReason" >
		update `Taiwan`.`ROOM_ORDER`
		SET
			`ROOM_ORDER`.`room_order_status` = #{roomOrderStatus},
			`ROOM_ORDER`.`cancel` = #{cancel}
		where
			`ROOM_ORDER`.`room_order_id`= #{roomOrderId}
	</update>
<!-- 	//根據訂單狀態搜尋訂單 --> 
<!-- 	public List<RoomOrder> queryByStatus(String roomOrderStatus);  -->
	<select id="queryByStatus" resultType="com.taiwan.beans.RoomOrder">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_status`= #{roomOrderStatus}
	</select>
	
</mapper>
