<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.RoomOrderMapper">
 <resultMap type="com.taiwan.beans.RoomOrder" id="order">
  <id column="room_order_id" property="roomOrderId"/>
  <result column="cust_id" property="custId"/>
  <result column="room_order_date" property="roomOrderDate"/>
  <result column="room_order_price" property="roomOrderPrice"/>
  <result column="checkin_date" property="checkinDate"/>
  <result column="checkout_date" property="checkoutDate"/>
  <result column="room_order_status" property="roomOrderStatus"/>
  <result column="cancel" property="cancel"/>
  <result column="total_price" property="totalPrice"/>
  <result column="cust_cop_id" property="custCopId"/>
  <result column="cmp_id" property="cmpId"/>

  <association property="customer"  select="mybatis.mapper.RoomOrderMapper.selectById" column="cust_id">
  </association>
  <association property="company"  select="mybatis.mapper.RoomOrderMapper.selectByCmpId" column="cmp_id">
  </association>
 </resultMap>
	<!-- public List<RoomOrder> getRoomOrders(); -->
	<select id="queryAllRoomOrders" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
	</select>
	
<!-- 	//根據訂單成立日期查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByRoomOrderDate(Date roomOrderDate); -->
	<select id="queryRoomOrdersByRoomOrderDate" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_date`= #{roomOrderDate}
	</select>
<!-- 	//根據入住時間查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByCheckinDate(Date checkinDate); -->
	<select id="queryRoomOrdersByCheckinDate" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`checkin_date` = #{checkinDate}
	</select>
<!-- 	//根據退房時間查詢訂單 -->
<!-- 	public List<RoomOrder> queryRoomOrdersByCheckoutDate(Date checkoutDate); -->
	<select id="queryRoomOrdersByCheckoutDate" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`checkout_date`= #{checkoutDate}
	</select>
<!-- 	//根據訂單Id搜尋訂房訂單 -->
<!-- 	public RoomOrder queryById(Integer roomOrderId); -->
	<select id="queryById" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_id`= #{roomOrderId}
	</select>
<!-- 	//根據廠商Id搜尋他的訂單 -->
<!-- 	public List<RoomOrder> queryByCmpId(Integer cmpId); -->
	<select id="queryByCmpId" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cmp_id`= #{cmpId}
	</select>
<!-- 	//根據會員Id搜尋他的訂單 -->
<!-- 	public List<RoomOrder> queryByCustId(Integer custId); -->
	<select id="queryByCustId" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cust_id`= #{custId}
	</select>
<!-- 	//搜尋一段時間內的訂單 -->
<!-- 	public List<RoomOrder> queryByDate(@Param("startdate") Date startdate,@Param("enddate") Date enddate); -->
	<select id="queryByDate" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_date` BETWEEN #{startdate} AND #{enddate}
	</select>
<!-- 	//根據訂單id取消訂單 -->
<!-- 	public int updateStatusAndReason(@Param("roomOrderId") Integer roomOrderId,@Param("roomOrderStatus") String roomOrderStatus,@Param("cancel") String cancel); -->
	<update id="updateStatusAndReason" >
		update `Taiwan`.`ROOM_ORDER`
		SET
			`ROOM_ORDER`.`room_order_status` = #{roomOrderStatus},
			`ROOM_ORDER`.`cancel` = #{cancel}
		where
			`ROOM_ORDER`.`room_order_id`= #{roomOrderId}
	</update>
<!-- 	//根據訂單狀態搜尋訂單 --> 
<!-- 	public List<RoomOrder> queryByStatus(String roomOrderStatus);  -->
	<select id="queryByStatus" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_status`= #{roomOrderStatus}
	</select>
	
<!-- 	// 根據會員與廠商Id搜尋的訂單 -->
<!-- 	public List<RoomOrder> queryByCustIdAndCmpId(@Param("cmpId") Integer cmpId,@Param("custId") Integer custId); -->
	<select id="queryByCustIdAndCmpId" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cust_id`= #{custId} AND `ROOM_ORDER`.`cmp_id`=#{cmpId}
	</select>	
<!-- 	// 搜尋同一家廠商一段時間內的訂單 -->
<!-- 	public List<RoomOrder> queryByDateAndCmpId(@Param("cmpId") Integer cmpId,@Param("startdate") Date startdate, @Param("enddate") Date enddate); -->
	<select id="queryByDateAndCmpId" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`cmp_id`=#{cmpId} AND
			`ROOM_ORDER`.`room_order_date` BETWEEN #{startdate} AND #{enddate}
	</select>
<!-- 	// 根據訂單狀態搜尋同一家訂單 -->
<!-- 	public List<RoomOrder> queryByStatusAndCmpId(@Param("cmpId") Integer cmpId,@Param("roomOrderStatus") String roomOrderStatus); -->
	<select id="queryByStatusAndCmpId" resultMap="order">
		SELECT `ROOM_ORDER`.`room_order_id`, `ROOM_ORDER`.`cust_id`,
    		`ROOM_ORDER`.`room_order_date`, `ROOM_ORDER`.`room_order_price`,
    		`ROOM_ORDER`.`checkin_date`, `ROOM_ORDER`.`checkout_date`,
  			`ROOM_ORDER`.`room_order_status`, `ROOM_ORDER`.`cancel`,
    		`ROOM_ORDER`.`total_price`, `ROOM_ORDER`.`cust_cop_id`,
    		`ROOM_ORDER`.`cmp_id`
		FROM `Taiwan`.`ROOM_ORDER`
		WHERE `ROOM_ORDER`.`room_order_status`= #{roomOrderStatus} AND `ROOM_ORDER`.`cmp_id`=#{cmpId}
	</select>
	
	<select id="selectById" resultType="com.taiwan.beans.CustomerVO">
		select * from CUSTOMER where CUST_ID=#{custId}
	</select>
	
	<select id="selectByCmpId" resultType="com.taiwan.beans.Company">
		select * from COMPANY where CMP_ID=#{cmpId}
	</select>
	
	
<!-- 	// 根據廠商id 和年/月查詢訂單金額的總和 -->
<!-- 	public Integer getTotalPrice(@Param("cmpId") Integer cmpId, @Param("year")String year, @Param("month")String month); -->
	<select id="getTotalPrice" resultType="_int">
		SELECT SUM(`total_price`)
		FROM `ROOM_ORDER`
		WHERE YEAR(`checkout_date`) = #{year}
		AND MONTH(`checkout_date`) = #{month}
		AND `cmp_id` = #{cmpId}
		AND `room_order_status` = '已實現'
		GROUP BY `cmp_id`;
	</select>
		
<!-- 	//根據訂單Id修改狀態 -->
<!-- 	public int updateStatus(@Param("roomOrderId") Integer roomOrderId,@Param("roomOrderStatus") String roomOrderStatus);  -->
	<update id="updateStatus" >
		UPDATE `Taiwan`.`ROOM_ORDER` 
		SET
			`room_order_status` = #{roomOrderStatus}
		WHERE
			`room_order_id` = #{roomOrderId} ;
	</update>
</mapper>
