*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans 3', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

ion-icon,
span {
  display: inline-block;
}

label,
img {
  display: block;
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

input:focus {
  outline: 2px solid hsl(219, 77%, 60%);
}

/**
 * Remove number input up & down button
 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/**
 * Custom scrollbar style
 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}





/*-----------------------------------*\
  #MAIN STYLE
\*-----------------------------------*/

/**
 * main container 
 */

/* .container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  color: hsl(0, 0%, 25%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding: 20px 60px;
  display: flex;
  align-items: center;
  gap: 20px;
} */

.heading ion-icon {
  font-size: 40px;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

/**
 * checkout section style 
 */

.checkout {
  width: 60%;
  padding: 40px 60px;
  background: white;
  border-right: 1px solid hsl(0, 0%, 90%);
}

.section-heading {
  color: hsl(0, 0%, 25%);
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 4%;

}

.payment-form {
  margin-bottom: 40px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.payment-method .method {
  border: 1px solid hsl(0, 0%, 64%);
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
}

.payment-method .selected {
  border-color: hsl(219, 77%, 60%);
}

.payment-method .method ion-icon {
  font-size: 20px;
}

.payment-method .method .checkmark {
  margin-left: auto;
  color: hsl(0, 0%, 64%);
}

.payment-method .method .fill {
  color: hsl(219, 77%, 60%);
}

.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: hsl(0, 0%, 62%);
}

.input-default {
  background: hsl(0, 0%, 91%);
  border-radius: 5px;
  color: hsl(0, 0%, 30%);
}

.payment-form input {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
}

.cardholder-name,
.card-number {
  margin-bottom: 20px;
}

.card-number input,
.cvv input {
  letter-spacing: 3px;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv {
  width: 50%;
}

.expire-date .input-flex {
  color: hsl(0, 0%, 62%);
  gap: 13px;
}

.expire-date .input-flex input {
  text-align: center;
}

.btn {
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.99);
}

.btn:focus {
  color: white;
  background: hsl(219, 77%, 60%);
  outline: 2px solid hsl(219, 77%, 60%);
  outline-offset: 2px;
}

.btn-primary {
  background: hsl(219, 77%, 60%);
  font-weight: 500;
  color: white;
  padding: 13px 45px;
}

.btn-primary b {
  margin-right: 10px;
}


/**
 * cart section style
 */

table {
  width: 600px;
  text-align: center;
}

.cart-item-box {
  padding: 40px 60px;
  margin-bottom: auto;
  width: 400px;
}


.product-card .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.detail .product-name {
  font-weight: 600;
  font-size: 15px;
  color: hsl(0, 0%, 39%);
  margin-bottom: 10px;
}

.detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  background: hsl(0, 0%, 91%);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-qty button:active,
.product-close-btn:active ion-icon {
  transform: scale(0.95);
}

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-img {
  border-radius: 5px;
  width: 80px;
  margin-left: 30px;
}

/* .product-close-btn {
  position: absolute;
  top: 0;
  right: 0;
} */

.product-close-btn ion-icon {
  font-size: 25px;
  color: hsl(0, 0%, 64%);
}

.product-close-btn:hover ion-icon {
  color: hsl(0, 77%, 60%);
}

.discount-token {
  padding: 40px 60px;
  /* border-right: 1px solid hsl(0, 0%, 90%); */
  /* border-bottom: 1px solid hsl(0, 0%, 90%); */
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid hsl(219, 77%, 60%);
  color: hsl(219, 77%, 60%);
}

.btn-outline:hover {
  background: hsl(219, 77%, 60%);
  color: white
}

.amount {
  padding: 40px 60px;
  width: 40%;
}

.amount>div {
  display: flex;
  justify-content: space-between;
}

.amount>div:not(:last-child) {
  margin-bottom: 10px;
}

.amount .total {
  font-size: 18px;
  font-weight: 700;
  color: var(--onyx);
}





/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (max-width: 1200px) {

  .item-flex {
    flex-direction: column-reverse;
  }

  /**
   * checkout section responsive 
   */

  .checkout {
    width: 100%;
    border-right: none;
  }

  .btn-primary {
    width: 100%;
  }

  /**
   * cart section responsive
   */

  .cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 90%);
  }

  .cart .wrapper {
    margin-top: auto;
  }

  .cart .cart-item-box {
    border-right: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }

}

@media (max-width: 768px) {

  :root {
    --px: 40px;
  }

  .cart {
    grid-template-columns: 1fr;
  }

  .discount-token {
    border-top: 1px solid hsl(0, 0%, 90%);
  }

  .wrapper-flex {
    gap: 20px;
  }

}

table {
  width: 720px;
  text-align: center;
}

.cpnline {
  display: inline-flex;
  margin-left: 18%;
}