.wrapper {
    display: flex;
    gap: 20px;
}
.wrapper div {
    display: flex;
    align-items: center;
    gap: 10px;
}
button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}
