<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error/error500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error/error404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TicketSelectByStatus</display-name>
    <servlet-name>TicketSelectByStatus</servlet-name>
    <servlet-class>com.taiwan.controller.ticket.TicketSelectByStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketSelectByStatus</servlet-name>
    <url-pattern>/TicketSelectByStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeFindAll</display-name>
    <servlet-name>ThemeFindAll</servlet-name>
    <servlet-class>com.taiwan.controller.theme.ThemeFindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeFindAll</servlet-name>
    <url-pattern>/ThemeFindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeCreator</display-name>
    <servlet-name>ThemeCreator</servlet-name>
    <servlet-class>com.taiwan.controller.theme.ThemeCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeCreator</servlet-name>
    <url-pattern>/ThemeCreator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeDelete</display-name>
    <servlet-name>ThemeDelete</servlet-name>
    <servlet-class>com.taiwan.controller.theme.ThemeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeDelete</servlet-name>
    <url-pattern>/ThemeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>theme2Update</display-name>
    <servlet-name>theme2Update</servlet-name>
    <servlet-class>com.taiwan.controller.theme.theme2Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>theme2Update</servlet-name>
    <url-pattern>/theme2Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeUpdate</display-name>
    <servlet-name>ThemeUpdate</servlet-name>
    <servlet-class>com.taiwan.controller.theme.ThemeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeUpdate</servlet-name>
    <url-pattern>/ThemeUpdate</url-pattern>
  </servlet-mapping>
</web-app>